<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team_manage.mapper.AttendanceInfoMapper">

    <select id="attendanceInfoPageByQry" resultType="com.team_manage.controller.attendanceinfo.vo.AttendanceInfoVO">
        SELECT
        ai.player_id,
        ai.attendance_year,
        ai.attendance_month,
        concat( ai.attendance_year,'-',ai.attendance_month) as attendanceYearMonth,
        sum(ai.sick_leave_day) as sick_leave_day,
        sum(ai.absenteeism_day) as absenteeism_day,
        sum(ai.personal_leave_day) as personal_leave_day,
        pi.player_name
        FROM
        attendance_info  ai
        LEFT JOIN player_info pi ON pi.key_id = ai.player_id
        WHERE
        ai.delete_flag = 0
        <if test="qry.userName != null and qry.userName != ''">
            AND pi.player_name LIKE CONCAT('%' , #{qry.userName}, '%')
        </if>
        <if test="qry.selectYear != null and qry.selectYear != ''">
            AND ai.attendance_year  = {qry.selectYear}
        </if>
        <if test="qry.selectMonth != null and qry.selectMonth != ''">
            AND ai.attendance_month  = {qry.selectMonth}
        </if>
        GROUP BY ai.player_id,ai.attendance_year,ai.attendance_month
        ORDER BY ai.attendance_year,ai.attendance_month DESC
    </select>

    <select id="attendanceInfoList" resultType="com.team_manage.controller.attendanceinfo.vo.AttendanceInfoVO">
        SELECT
        ai.player_id,
        ai.attendance_year,
        ai.attendance_month,
        concat( ai.attendance_year,'-',ai.attendance_month) as attendanceYearMonth,
        ai.sick_leave_day,
        ai.absenteeism_day,
        ai.personal_leave_day,
        pi.player_name
        FROM
        attendance_info  ai
        LEFT JOIN player_info pi ON pi.key_id = ai.player_id
        AND pi.delete_flag = 0
        WHERE
        ai.delete_flag = 0
        <if test="playerId != null and playerId != ''">
            AND ai.player_id  = #{playerId}
        </if>
        <if test="attendanceYear != null and attendanceYear != ''">
            AND ai.attendance_year  = #{attendanceYear}
        </if>
        <if test="attendanceMonth != null and attendanceMonth != ''">
            AND ai.attendance_month  = #{attendanceMonth}
        </if>
        ORDER BY ai.attendance_year,ai.attendance_month DESC
    </select>
</mapper>
