<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team_manage.mapper.FollowInfoMapper">

    <select id="pageByQry" resultType="com.team_manage.controller.user.vo.FollowInfoVO">
        SELECT
            fi.follow_id,
            fi.user_id,
            fi.be_user_id,
            fi.follow_time,
            su1.user_name,
            su1.user_avatar,
            su2.user_name AS be_user_name,
            su2.user_avatar AS be_user_avatar,
            fi1.follow_id AS is_follow
        FROM
            follow_info fi
                LEFT JOIN user su1 ON su1.user_id = fi.user_id
                LEFT JOIN user su2 ON su2.user_id = fi.be_user_id
                LEFT JOIN ( SELECT follow_id, be_user_id FROM follow_info WHERE delete_flag = 0 AND user_id = #{qry.loginId} ) fi1 ON
            <if test="qry.userId != null and qry.userId != 0">
                fi1.be_user_id = fi.be_user_id
            </if>
            <if test="qry.beUserId != null and qry.beUserId != 0">
                fi1.be_user_id = fi.user_id
            </if>
        WHERE
            fi.delete_flag = 0
        <if test="qry.userId != null and qry.userId != 0">
            AND fi.user_id = #{qry.userId}
        </if>
        <if test="qry.beUserId != null and qry.beUserId != 0">
            AND fi.be_user_id = #{qry.beUserId}
        </if>
        ORDER BY fi.follow_id DESC
    </select>
    <select id="check" resultType="com.team_manage.controller.user.vo.FollowInfoVO">
        SELECT
            fi.follow_id,
            fi.user_id,
            fi.be_user_id,
            fi.follow_time,
            su1.user_name,
            su1.user_avatar,
            su2.user_name AS be_user_name,
            su2.user_avatar AS be_user_avatar
        FROM
            follow_info fi
                LEFT JOIN user su1 ON su1.user_id = fi.user_id
                LEFT JOIN user su2 ON su2.user_id = fi.be_user_id
        WHERE
            fi.delete_flag = 0 AND fi.user_id = #{userId} AND fi.be_user_id = #{beUserId}
    </select>
</mapper>
