<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team_manage.mapper.IntroductionInfoMapper">

    <update id="setNum">
        UPDATE introduction_info
        <set>
            <if test="type == 1">
                introduction_like = introduction_like
                <if test="change == 1">
                    + #{num}
                </if>
                <if test="change == 2">
                    - #{num}
                </if>
            </if>
            <if test="type == 2">
                introduction_collect = introduction_collect
                <if test="change == 1">
                    + #{num}
                </if>
                <if test="change == 2">
                    - #{num}
                </if>
            </if>
        </set>
        WHERE introduction_id = #{introductionId}
    </update>
    <select id="pageByQry" resultType="com.team_manage.controller.introduction.vo.WxIntroductionInfoVO">
        SELECT
            ii.introduction_id,
            ii.introduction_name,
            ii.introduction_img,
            ii.introduction_time,
            ii.user_id,
            ii.introduction_desc,
            ii.introduction_like,
            ii.introduction_collect,
            ii.introduction_status,
            ii.audit_result,
            su.user_name,
            su.user_avatar,
            IF( ci.collect_id IS NOT NULL, 1, 0 ) AS is_collect,
            IF( li.like_id IS NOT NULL, 1, 0 ) AS is_like
        FROM
            introduction_info ii
        LEFT JOIN user su ON ii.user_id = su.user_id
        LEFT JOIN ( SELECT collect_id, business_id FROM collect_info WHERE user_id = #{qry.userId} AND delete_flag = 0 ) ci ON ci.business_id = ii.introduction_id
        LEFT JOIN ( SELECT like_id, business_id FROM like_info WHERE user_id = #{qry.userId} AND delete_flag = 0 ) li ON li.business_id = ii.introduction_id
        WHERE
            ii.delete_flag = 0 AND ii.introduction_status = 2
        <if test="qry.keyWord != null and qry.keyWord != ''">
            AND (ii.introduction_name LIKE CONCAT('%', #{qry.keyWord}, '%') OR ii.introduction_desc LIKE CONCAT('%', #{qry.keyWord}, '%'))
        </if>
        <if test="qry.sorted != null and qry.sorted != 0">
            ORDER BY
            <if test="qry.sorted == 1">
                ii.introduction_id DESC
            </if>
            <if test="qry.sorted == 2">
                ii.introduction_like DESC
            </if>
            <if test="qry.sorted == 3">
                ii.introduction_collect DESC
            </if>
        </if>
    </select>
    <select id="mine" resultType="com.team_manage.controller.introduction.vo.WxIntroductionInfoVO">
        SELECT
        ii.introduction_id,
        ii.introduction_name,
        ii.introduction_img,
        ii.introduction_time,
        ii.user_id,
        ii.introduction_desc,
        ii.introduction_like,
        ii.introduction_collect,
        ii.introduction_status,
        ii.audit_result,
        su.user_name,
        su.user_avatar,
        IF( ci.collect_id IS NOT NULL, 1, 0 ) AS is_collect,
        IF( li.like_id IS NOT NULL, 1, 0 ) AS is_like
        FROM
        introduction_info ii
        LEFT JOIN user su ON ii.user_id = su.user_id
        LEFT JOIN ( SELECT collect_id, business_id FROM collect_info WHERE user_id = #{qry.userId} AND delete_flag = 0 ) ci ON ci.business_id = ii.introduction_id
        LEFT JOIN ( SELECT like_id, business_id FROM like_info WHERE user_id = #{qry.userId} AND delete_flag = 0 ) li ON li.business_id = ii.introduction_id
        WHERE
        ii.delete_flag = 0 AND ii.user_id = #{qry.userId}
        <if test="qry.keyWord != null and qry.keyWord != ''">
            AND (ii.introduction_name LIKE CONCAT('%', #{qry.keyWord}, '%') OR ii.introduction_desc LIKE CONCAT('%', #{qry.keyWord}, '%'))
        </if>
        <if test="qry.sorted != null and qry.sorted != 0">
            ORDER BY
            <if test="qry.sorted == 1">
                ii.introduction_id DESC
            </if>
            <if test="qry.sorted == 2">
                ii.introduction_like DESC
            </if>
            <if test="qry.sorted == 3">
                ii.introduction_collect DESC
            </if>
        </if>
    </select>
    <select id="detail" resultType="com.team_manage.controller.introduction.vo.WxIntroductionInfoVO">
        SELECT
            ii.introduction_id,
            ii.introduction_name,
            ii.introduction_img,
            ii.introduction_time,
            ii.user_id,
            ii.introduction_desc,
            ii.introduction_like,
            ii.introduction_collect,
            ii.introduction_status,
            ii.audit_result,
            su.user_name,
            su.user_avatar,
            IF( ci.collect_id IS NOT NULL, 1, 0 ) AS is_collect,
            IF( li.like_id IS NOT NULL, 1, 0 ) AS is_like
        FROM
            introduction_info ii
                LEFT JOIN user su ON ii.user_id = su.user_id
                LEFT JOIN ( SELECT collect_id, business_id FROM collect_info WHERE user_id = #{userId} AND delete_flag = 0 ) ci ON ci.business_id = ii.introduction_id
                LEFT JOIN ( SELECT like_id, business_id FROM like_info WHERE user_id = #{userId} AND delete_flag = 0 ) li ON li.business_id = ii.introduction_id
        WHERE
            ii.delete_flag = 0 AND ii.introduction_id = #{introductionId}
    </select>
    <select id="pageByQry1" resultType="com.team_manage.controller.introduction.vo.WxIntroductionInfoVO">
        SELECT
            ii.introduction_id,
            ii.introduction_name,
            ii.introduction_img,
            ii.introduction_time,
            ii.user_id,
            ii.introduction_desc,
            ii.introduction_like,
            ii.introduction_collect,
            ii.introduction_status,
            ii.audit_result,
            su.user_name,
            su.user_avatar
        FROM
            introduction_info ii
        LEFT JOIN user su ON ii.user_id = su.user_id
        WHERE
        ii.delete_flag = 0
        <if test="qry.introductionName != null and qry.introductionName != ''">
            AND ii.introduction_name LIKE CONCAT('%', #{qry.introductionName}, '%')
        </if>
        <if test="qry.userId != null and qry.userId != 0">
            AND ii.user_id = #{qry.userId}
        </if>
        <if test="qry.introductionStatus != null and qry.introductionStatus != 0">
            AND ii.introduction_status = #{qry.introductionStatus}
        </if>
        <if test="qry.sorted != null and qry.sorted != 0">
            ORDER BY
            <if test="qry.sorted == 1">
                ii.introduction_id DESC
            </if>
            <if test="qry.sorted == 2">
                ii.introduction_like DESC
            </if>
            <if test="qry.sorted == 3">
                ii.introduction_collect DESC
            </if>
        </if>
    </select>
    <select id="user" resultType="com.team_manage.controller.introduction.vo.WxIntroductionInfoVO">
        SELECT
        ii.introduction_id,
        ii.introduction_name,
        ii.introduction_img,
        ii.introduction_time,
        ii.user_id,
        ii.introduction_desc,
        ii.introduction_like,
        ii.introduction_collect,
        ii.introduction_status,
        ii.audit_result,
        su.user_name,
        su.user_avatar,
        IF( ci.collect_id IS NOT NULL, 1, 0 ) AS is_collect,
        IF( li.like_id IS NOT NULL, 1, 0 ) AS is_like
        FROM
        introduction_info ii
        LEFT JOIN user su ON ii.user_id = su.user_id
        LEFT JOIN ( SELECT collect_id, business_id FROM collect_info WHERE user_id = #{qry.loginId} AND delete_flag = 0 ) ci ON ci.business_id = ii.introduction_id
        LEFT JOIN ( SELECT like_id, business_id FROM like_info WHERE user_id = #{qry.loginId} AND delete_flag = 0 ) li ON li.business_id = ii.introduction_id
        WHERE
        ii.delete_flag = 0 AND ii.user_id = #{qry.userId}
        ORDER BY ii.introduction_id DESC
    </select>
</mapper>
