<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team_manage.mapper.MatchInfoMapper">

    <select id="matchInfoPageByQry" resultType="com.team_manage.controller.matchinfo.vo.MatchInfoVO">
        SELECT
        mi.key_id,
        mi.match_name,
        mi.match_date,
        mi.match_level,
        mi.team_id,
        ti1.team_name,
        mi.match_team_id,
        ti2.team_name as match_team_name
        from  match_info mi

        left join team_info ti1 on ti1.key_id = mi.team_id

        left join team_info ti2 on ti2.key_id = mi.match_team_id
        where
        mi.delete_flag = 0
        <if test="qry.matchName != null and qry.matchName != ''">
            AND mi.match_name LIKE CONCAT('%' , #{qry.matchName}, '%')
        </if>
        ORDER BY mi.match_date DESC
    </select>
</mapper>
