<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team_manage.mapper.OrderInfoMapper">

    <select id="mine" resultType="com.team_manage.controller.order.vo.OrderInfoVO">
        SELECT
            oi.order_id,
            oi.order_num,
            oi.order_time,
            oi.attractions_id,
            oi.order_date,
            oi.user_id,
            oi.order_total,
            oi.order_status,
            ai.attractions_name,
            su.user_name,
            su.user_avatar
        FROM
            order_info oi
                LEFT JOIN attractions_info ai ON oi.attractions_id = ai.attractions_id
                LEFT JOIN sys_user su ON oi.user_id = su.user_id
        WHERE oi.delete_flag = 0
        AND oi.user_id = #{qry.userId}
        <if test="qry.orderNum != 0 and qry.orderNum != null">
            AND oi.order_num LIKE CONCAT('%', #{qry.orderNum}, '%')
        </if>
        <if test="qry.orderStatus != 0 and qry.orderStatus != null">
            AND oi.order_status = #{qry.orderStatus}
        </if>
        ORDER BY oi.order_status ASC, oi.order_id DESC
    </select>
    <select id="pageByQry" resultType="com.team_manage.controller.order.vo.OrderInfoVO">
        SELECT
            oi.order_id,
            oi.order_num,
            oi.order_time,
            oi.attractions_id,
            oi.order_date,
            oi.user_id,
            oi.order_total,
            oi.order_status,
            ai.attractions_name,
            su.user_name,
            su.user_avatar
        FROM
            order_info oi
                LEFT JOIN attractions_info ai ON oi.attractions_id = ai.attractions_id
                LEFT JOIN sys_user su ON oi.user_id = su.user_id
        WHERE oi.delete_flag = 0
        <if test="qry.userId != 0 and qry.userId != null">
            AND oi.user_id = #{qry.userId}
        </if>
        <if test="qry.attractionsId != 0 and qry.attractionsId != null">
            AND oi.attractions_id = #{qry.attractionsId}
        </if>
        <if test="qry.orderNum != 0 and qry.orderNum != null">
            AND oi.order_num LIKE CONCAT('%', #{qry.orderNum}, '%')
        </if>
        <if test="qry.orderStatus != 0 and qry.orderStatus != null">
            AND oi.order_status = #{qry.orderStatus}
        </if>
        ORDER BY oi.order_status ASC, oi.order_id DESC
    </select>
    <select id="detail" resultType="com.team_manage.controller.order.vo.OrderInfoVO">
        SELECT
            oi.order_id,
            oi.order_num,
            oi.order_time,
            oi.attractions_id,
            oi.order_date,
            oi.user_id,
            oi.order_total,
            oi.order_status,
            ai.attractions_name,
            su.user_name,
            su.user_avatar
        FROM
            order_info oi
                LEFT JOIN attractions_info ai ON oi.attractions_id = ai.attractions_id
                LEFT JOIN sys_user su ON oi.user_id = su.user_id
        WHERE oi.delete_flag = 0 AND oi.order_id = #{orderId}
    </select>
</mapper>
