<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team_manage.mapper.PlayerInfoMapper">

    <select id="playerInfoPageByQry" resultType="com.team_manage.controller.playerinfo.vo.PlayerInfoVO">
        SELECT
        pi.key_id,
        pi.player_name,
        pi.team_id,
        pi.plyer_no,
        pi.sex,
        pi.birthday,
        pi.age,
        pi.education,
        pi.height,
        pi.weight,
        pi.account,
        pod.plary_location,
        pod.native_place,
        t.teanName,
        pod.on_depart_flag
        FROM
        player_info pi
        LEFT JOIN player_on_depart pod ON pi.key_id = pod.player_id
        LEFT JOIN (
        SELECT
        GROUP_CONCAT( ti.team_name ) AS teanName,
        tpi.player_id
        FROM
        team_info ti
        LEFT JOIN team_player_info tpi ON ti.key_id = tpi.team_id
        GROUP BY
        tpi.player_id
        ) t ON t.player_id = pi.key_id
        WHERE
        pi.delete_flag = 0
        <if test="qry.userName != null and qry.userName != ''">
            AND pi.player_name LIKE CONCAT('%' , #{qry.userName}, '%')
        </if>
        <if test="qry.teamName != null and qry.teamName != ''">
            AND t.teanName  LIKE CONCAT('%' , #{qry.teamName}, '%')
        </if>
        ORDER BY pi.create_time DESC
    </select>
    <select id="detailUserInfo" resultType="com.team_manage.controller.playerinfo.vo.PlayerInfoVO">
    SELECT
        pi.key_id,
        a.user_id,
        a.user_name,
        a.user_sex,
        a.user_birthday,
        a.user_avatar,
        a.user_phone,
        pi.plyer_no,
        pi.age,
        pi.education,
        pi.height,
        pi.weight,
        a.user_account,
        pod.plary_location,
        pod.native_place,
        t.teanName,
        pod.on_depart_flag
    FROM
        user a
    left join
    player_info pi on a.user_account = pi.account
    LEFT JOIN player_on_depart pod ON pi.key_id = pod.player_id
    LEFT JOIN (
    SELECT
    GROUP_CONCAT( ti.team_name ) AS teanName,
    tpi.player_id
    FROM
    team_info ti
    LEFT JOIN team_player_info tpi ON ti.key_id = tpi.team_id
    GROUP BY
    tpi.player_id
    ) t ON t.player_id = pi.key_id
    WHERE
    a.delete_flag = 0
    <if test="userId != null and userId != ''">
        AND a.user_id = #{userId}
    </if>
    limit 1
</select>
</mapper>
