<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team_manage.mapper.TeamInfoMapper">
    <select id="teamInfoPageByQry" resultType="com.team_manage.controller.teaminfo.vo.TeamInfoVO">
        SELECT
            ti.key_id,
            ti.team_name,
            ti.team_nature
        FROM
        team_info ti
        WHERE
        ti.delete_flag = 0
        <if test="qry.teamName != null and qry.teamName != ''">
            AND ti.team_name LIKE CONCAT('%' , #{qry.teamName}, '%')
        </if>
        ORDER BY ti.create_time DESC
    </select>

    <select id="teamPlayerInfoQry" resultType="com.team_manage.controller.teaminfo.vo.TeamPlayerInfoVO">
        SELECT
        tpi.*,
        pi.player_name
        FROM
        team_player_info tpi
        left  join
        player_info pi on  pi.key_id = tpi.player_id
        WHERE
        pi.delete_flag = 0
          and tpi.delete_flag = 0
        <if test="teamId != null and teamId != ''">
            AND tpi.team_id = #{teamId}
        </if>
        ORDER BY tpi.create_time DESC
    </select>
</mapper>
